# Dependencies
node_modules
**/node_modules

# Build output
dist
dist-ssr

# Environment variables
.env
.env.local

# Package locks
**/package-lock.json

# OS files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local files
*.local
dbscript